.incomeExpense{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    border-radius: 5px;
   
}
/* .income{
  background-color: black;
} */
.income{
  align-items: center;
}
.income>h4{
  margin-bottom: -17px;
}
.income p{
  color:green;
  font-size: 20px;
  font-weight: bold;

}
.expense{
  align-items: center;
}
.expense>h4{
  margin-bottom: -17px;
}
.expense p{
  color:red;
  font-size: 20px;
  font-weight: bold;

}